@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

/* BANNER SECTION  */
.banner-section {
    background-image: linear-gradient(90deg, #ffffff 80%, #d2f2e3 20%);
}
.auth-section {
    background-image: linear-gradient(90deg, #d2f2e3 40%, #ffffff 60%);
}
.react-tabs__tab-list {
    border-bottom: 1px solid #1dbf73 !important;
}
.react-tabs__tab--selected {
    border-color: #1dbf73 !important;
    color: #008848 !important;
}
.dashboard-menu a.active {
    position: relative;
    padding: 10px 20px;

    width: 100%;
    background: #fff;
    color: #1dbf73;
}
.navbar-menu a.active {
    position: relative;
    color: #1dbf73;
}
.navbar-menu a.active::after {
    content: "—";
    color: #1dbf73;
    font-size: 20px;
    margin-bottom: -5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 425px) {
    .auth-section {
        background-image: none;
    }
    .banner-section {
        background-image: none;
    }
}
